*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#Ignore opencv sdk folder for minimize the repo size download via setupOpenCV.sh or manually 
/opencvsdk460
/opencvsdk470
opencv-4.6.0-android-sdk.zip
opencv-4.7.0-android-sdk.zip